arabic-reshaper==3.0.0
asgiref==3.8.1
asn1crypto==1.5.1
audioop-lts==0.2.2
av==13.1.0
beautifulsoup4==4.13.5
certifi==2025.4.26
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cloup==3.0.8
colorama==0.4.6
crispy-bootstrap5==2025.6
cryptography==45.0.5
cssselect2==0.8.0
decorator==4.4.2
dj-database-url==3.0.0
Django==5.2.1
django-appconf==1.1.0
django-autocomplete-light==3.12.1
django-crispy-forms==2.4
django-extensions==4.1
django-phonenumber-field==8.1.0
django-select2==8.4.1
django-widget-tweaks==1.5.0
et_xmlfile==2.0.0
glcontext==3.0.0
gTTS==2.5.4
gunicorn==23.0.0
html5lib==1.1
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
isosurfaces==0.1.2
keyboard==0.13.5
lxml==6.0.0
manim==0.19.0
ManimPango==0.6.0
mapbox_earcut==1.0.3
markdown-it-py==4.0.0
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
moviepy==1.0.3
networkx==3.5
numpy==2.3.2
openpyxl==3.1.5
oscrypto==1.3.0
packaging==25.0
pandas==2.3.2
phonenumbers==9.0.7
pillow==11.3.0
proglog==0.1.12
psycopg==3.2.9
psycopg-binary==3.2.9
psycopg2-binary==2.9.10
pycairo==1.28.0
pycparser==2.22
pydub==0.25.1
pyglet==2.1.8
pyglm==2.8.2
Pygments==2.19.2
pyHanko==0.29.1
pyhanko-certvalidator==0.27.0
pypdf==5.8.0
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
reportlab==4.4.2
requests==2.32.4
rich==14.1.0
scipy==1.16.1
screeninfo==0.8.1
six==1.17.0
skia-pathops==0.8.0.post2
soupsieve==2.8
sqlparse==0.5.3
srt==3.5.3
svgelements==1.9.6
svglib==1.5.1
tinycss2==1.4.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
tzlocal==5.3.1
uritools==5.0.0
urllib3==2.4.0
watchdog==6.0.0
webencodings==0.5.1
whitenoise==6.9.0
xhtml2pdf==0.2.17
